{% extends 'base/base.html' %}

{% block content %}

<table class="table table-hover">
	<thead>
		<tr>
			<td align="center">N°</td>
			<td align="center"> Nombre </td>
			<td align="center">Estado</td>
			<td align="center">Proyecto</td>
			<td align="center">Acciones</td>

		</tr>
		
	</thead>
	<tbody>
		{% if lineas %}
		{% for linea in lineas %}
		<tr class="table-dark">
			<td align="center">{{ linea.id }}</td>
			<td align="center">{{ linea.nombre_linea }}</td>
			<td align="center">{{ linea.estado }}</td>
			<td align="center">{{ linea.proyecto.nombre }}</td>
			<td align="center">
				<a class="btn btn-primary" href="{% url 'lineab:editar_linea' linea.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'lineab:eliminar_linea' linea.id %}">Eliminar</a>
				<a class="btn btn-success" href="{% url 'item:listar_item' linea.id %}">Ver Item</a>
			</td>
		</tr>
		{% endfor %}
			<h2 align="center">Lista de Linea Base</h2>	
		{% else %}
			<h2 align="center">No hay registros de Linea Base</h2>
		{% endif %}
	</tbody>
</table> 
	<h><a class="btn btn-success" href="{% url 'proyecto:index_proyecto' %}">Volver</a></h>
{% endblock%}